<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Cadastro de Pessoas</title>
	<meta charset="utf-8">
	<style>
	    body { margin: 0 20%;}
		label  {width: 100px; display; inline-block;}
	</style>
   </head>
   <body>

    <h2>Nossos produtos pela URL</h2>
	
	<a href="/dados/coxinha/batata doce/frango/">Produto 1</a> <br/>
	<a href="/dados/caldo/batata baroa/bacon/">Produto 2</a>   <br/>
	<a href="/dados/empada/grao de bico/frando/">Produto 3</a> <br/>
	<a href="/dados/torta/sem farinha/banana/">Produto 4</a>   <br/>
	
	<p> Dados Enviados pela URL:
	<p> Tipo de produto: {{ tipo }} </p>
	<p> Ingrediente: {{ Ingrediente }} </p>
	<p> Sabor: {{ Sabor }} </p>
	
    </bodY>
</html>
	